@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700;900&display=swap');

html {
	scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Maven Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin-bottom: 16px;
}

h1 {
	/*font-size: 109px;*/
	font-size: 56px;
	line-height: 70px;
	font-weight: 900px;
}

h2 {
	font-size: 46px;
	line-height: 112px;
}

h3 {
	font-size: 40px;
	font-weight: 300;
}

h4{
	font-size: 30px;
}

h5 {
	font-size: 25px;
}

h6 {
	font-size: 21px;
}

a {
	color: #261f22;
	text-decoration: none;
}

p {
	font-size: 16px;
}
/*headings
	h1 - 119px/144
	h2 - 94px/112
	h3 - 59px/90
*/

/*colors 
	primary - #fc3a79
	secondary - #
	brand gradient -
	black - #261f22 
*/

/*____header section start____*/

header {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.container {
	max-width: 1200px;
	margin: 0px auto;
	padding: 8px 32px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {	
	/* margin-right: 16px; */
}

nav ul {
	list-style: none;
	display: flex;
	align-items: center;
	transition: 0.5s ease;
}

nav li{
	padding: 16px;
}

nav a {
	text-decoration: none;
	color: #261f22;
	transform: scale(0.5);
}

a.email {
	color: #fc3a79;
}

.logo {
	width: 40px;
	height: 40px;
}

.logo img {
	width: 100%;
	border-radius: 100%;
}

.social {
	margin-left: 32px;
	display: flex;
	align-items: center;
}

.social svg{
	width: 32px;
	margin: 0 8px;
}

.info span{
	margin-right: 16px;
}

.menu {
	display: none;
}

/*____header section end____*/

/*____hero section start____*/
.hero-section .hero-div, .my-work {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 128px auto;
	color: #261f22;
	
}

.hero-section h1 {
	max-width: 600px;
	text-align: center;
	color: #261f22;
}

.hero-section h3 {
	text-align: center;
	background: linear-gradient(90deg, #FE572E 22.5%, #FC3A79 60%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.hero-section p, .my-work p {
	max-width: 450px;
	margin: 16px 0;
	text-align: center;
	/* color: #261f22; */
}

.hero-button {
	display: flex;
	align-items: center;
	border: none;
	background: linear-gradient(90deg, #fe572e 22.5%, #fc3a79 60%);
	max-width: 256px;
	margin: 24px 0; 
	justify-content: center;
	padding: 16px 24px;
	border-radius: 32px;
	font-size: 16px;
}
/*____header section end____*/

/*____my work start____*/
section.my-work {
	padding-top: 72px;
	transition: 0.5s all ease-in-out;
}
section.my-work .container {
	flex-direction: column;
}
section.transition-bg {
	background: #261f22;
	color: #fff;
	transition: 1s all ease-in-out;
}
.my-work h1{
	margin-bottom: 0px;
	align-items: center;
}

.my-work img {
	width: 100%;
}

.my-work .work {
	margin: 64px 0;
	position: relative;
}

.icon-1{
	width: 24px;
	position: absolute;
	top: 8px;
	left: 8px;
	z-index: 10;
}

.icon-2 {
	right: 8px;
}

.preview {
	
}

.icon-1 img{
	width: 100%;
}

.cta {
	margin: 128px auto;
	max-width: 1200px;
	padding: 0 32px;
}

.cta h6 {
	max-width: 300px;
}

.cta p {
	max-width: 400px;
}

.cta .info-wrap {
	margin: 24px 0;
}

.cta button {
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 24px 48px;
	height: 24px;
	background: linear-gradient(90deg, #fe572e 22.5%, #fc3a79 60%);
	box-shadow: 0px 100px 80px rgba(38, 31, 34, 0.0167767), 0px 50.0488px 40.0391px rgba(38, 31, 34, 0.0243888), 0px 30.1471px 24.1177px rgba(38, 31, 34, 0.0300374), 0px 19.3198px 15.4559px rgba(38, 31, 34, 0.035), 0px 12.5216px 10.0172px rgba(38, 31, 34, 0.0399626), 0px 7.88218px 6.30574px rgba(38, 31, 34, 0.0456112), 0px 4.5288px 3.62304px rgba(38, 31, 34, 0.0532233), 0px 1.99324px 1.59459px rgba(38, 31, 34, 0.07);
	border-radius: 50px;
	margin-top: 64px;
}

/* A B O U T  M E  P A G E*/
.about-me {
	margin: 128px auto;
}
.about-me .container {
	display: block;
}

.about-me h2 {
	color: #261f22;
	line-height: normal;
}


.about-me p{
	color: #261f22;
	max-width: 768px;
}

p a {
	text-decoration: underline;
}

.hobbies {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	margin-bottom: 24px;
}

.hobbies img{
	width: 100%;
	/* filter: drop-shadow(0px 100px 80px rgba(38, 31, 34, 0.07)) drop-shadow(0px 41.7776px 33.4221px rgba(38, 31, 34, 0.0503198)) drop-shadow(0px 22.3363px 17.869px rgba(38, 31, 34, 0.0417275)) drop-shadow(0px 12.5216px 10.0172px rgba(38, 31, 34, 0.035)) drop-shadow(0px 6.6501px 5.32008px rgba(38, 31, 34, 0.0282725)) drop-shadow(0px 2.76726px 2.21381px rgba(38, 31, 34, 0.0196802)); */
	box-shadow: 0px 100px 80px rgba(38, 31, 34, 0.07);

}

.our-goal-container{
	background: #f5f5f5;
}

.our-goal, .our-work-container, .FAQ {
	max-width: 1200px;
	margin: 128px auto;
	padding: 8px 32px;
}

.our-goal h3, .FAQ h3{
	max-width: 480px;
	color: #261f22;
	margin: 64px 0;
}

.our-goal h6, .our-goal p {
	color: #261f22;
}

.our-goal .w, .our-work {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 32px;
	margin-bottom: 64px;
}

.our-work {
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}

.our-goal p {
	max-width: 480px;
}

.skills {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 8px 32px;
}

.skills-button button:nth-child(2) {
	background: #f5f5f5;
	color: #261f22;
}

.skills-button {
	background: #f5f5f5;
	padding: 5px;
	border-radius: 50px;
}

.skills-button button {
	width: 200px;
	height: 38px;
	border: none;
	border-radius: 50px;
	background: #261f22;
	color: #fff;
}

#design, #development {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 16px;
	margin: 64px 0;
}

#design li, #development li {
	display: flex;
	align-items: center;
	background: #f5f5f5;
	justify-content: center;
	flex-direction: column;
	list-style: none;
	padding: 8px;
	width: 150px;
	border-radius: 8px;
}

#design img, #development img{
	width: 50px;
	height: 50px;
}

/* __________C O N T A C T  S E C T I O N  */

.FAQ-container {
	background: #f5f5f5;
}

.FAQ li {
	color: #888;
	list-style: none;
	padding: 16px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	max-width: 500px;
}

.FAQ p{
	padding: 8px 16px;
}





/*____media query start____ */

@media (min-width: 200px) {
	/* 
	
	nav, .info, .social {
		display: none;
	} */
}

@media (max-width: 201px) {
 	/* .hero-section {
		margin: 64px 0;
 	} */
}

@media (max-width: 505px) {
	.menu {
		display: block;
		position: relative;
		z-index: 2;
		cursor: pointer;
	}
	nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background: #f5f5f5;
	}
	nav ul {
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}
	nav li{
		padding: 20px ;
	}
	.toggle-nav {
		transform: translateY(-150px);
		transition: 0.5s ease;
	}
	.cta .info {
		flex-direction: column;
		align-items: flex-start;
	}
	.cta .info span {
		margin: 8px 0;
	}
	.cta button {
		flex-direction: column;
		align-items: flex-start;
	}
	body > div > button > span.first-span {
		margin-right: 5px;
	}
}

@media (max-width: 320px) {
	body > div > button > span.first-span {
		display: none;
	}
	h1 {
		font-size: 46px;
	}
	h2{
		font-size: 32px;
	}
	h3 {
		font-size: 24px;
	}
	h4 {
		font-size: 22px;
	}
	h5 {
		font-size: 21px;
	}
	h6 {
		font-size: 20px;
	}
	.logo {
		margin-right: 0px;
	}

}


/*____media query start____*/
